		<!-- SCRIPTS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.3.7/js/lightgallery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
		<script src="dist/js/main.js"></script>
		<!-- SCRIPTS -->
	</body>
</html>