<!-- FOOTER -->
<footer class="footer">
	<div class="container footer__wrapper">
		<div class="footer__copyright">&copy; 2017 <a href="<?php echo $baseURL ?>">Overly Construction Group, LLC</a>. All Rights Reserved.</div>
		<ul class="footer__menu">
			<li class="footer__menu-item"><a href="" class="footer__menu-link">Overly Construction Group</a></li>
			<li class="footer__menu-item"><a href="privacy" class="footer__menu-link">Privacy Policy</a></li>
			<li class="footer__menu-item"><a href="http://simplemedia.co/" target="_blank" class="footer__menu-link simplemedia">Developed by Simple Media</a></li>
		</ul>
	</div>
</footer>
<!-- FOOTER -->