<!-- NAVIGATION MOBILE -->
<div class="navigation-mobile">
	<div class="container">
		<div class="navigation-mobile__wrapper">
			<button class="navigation-mobile__button hamburger-js">
				<span class="navigation-mobile__top"></span>
				<span class="navigation-mobile__mid"></span>
				<span class="navigation-mobile__bot"></span>
			</button>
			<a href="/" class="navigation-mobile__logo-wrap">
				<svg width="65" height="55" viewBox="0 0 101 90" xmlns="http://www.w3.org/2000/svg">
					<g class="navigation-mobile__logo-group">
						<path d="M12.475 19.91c16.952-24.184 51.93-23.199 69.503-.458.519.67 3.171-1.228 2.71-1.827C65.324-7.43 27.877-4.782 10.12 20.551c-.934 1.333 1.939-.047 2.354-.64"/>
						<path d="M5.715 57.109c-3.5-2.488-2.959-8.156-2.59-11.838.641-6.39 3.758-12.33 8.462-16.234a14.15 14.15 0 0 0-1.048 3.173c-.11.544 2.591-.594 2.777-1.517.29-1.43.882-2.766 1.684-3.967A19.505 19.505 0 0 1 25.1 24.379c.785.03 3.108-2.001 2.026-2.043a23.233 23.233 0 0 0-9.798 1.748c5.315-4.656 13.857-5.125 14.557 3.913.607 7.838-3.828 16.49-8.36 22.563-3.736 5.004-11.707 10.887-17.811 6.549m16.454-3.154c7.39-6.426 15.973-22.053 11.43-31.943-2.152-4.685-8.888-3.934-12.617-2.026-2.947 1.509-5.705 3.59-7.686 6.218-6.088 3.943-10.558 10.48-12.431 17.7-1.487 5.731-1.751 14.289 5.008 16.488 5.595 1.82 12.402-3.051 16.296-6.437M82.352 74.503c-4.062 5.398-10.012 8.887-16.79 6.94-2.814-.809-4.6-2.69-3.945-5.66.766-3.478 4.186-6.57 6.594-8.945 3.367-3.32 7.11-6.27 10.848-9.157 3.897-3.01 7.915-5.854 11.944-8.682.047 9.127-3.16 18.205-8.651 25.504m9.32-53.837c1.86 2.351-8.717 13.292-10.084 14.827a109.823 109.823 0 0 1-5.623 5.88c.628-1.85 1.509-3.653 2.305-5.345.901-1.915 10.44-19.104 13.402-15.362M54.605 43.52c.156.762-1.093 1.898-2.165 2.735a3.244 3.244 0 0 1-.591-.96c-.6-1.828.32-2.42 2.756-1.775m44.202-1.4a649.153 649.153 0 0 1-4.965 3.542c.086-3.9-.631-7.864-1.648-11.612-.14-.514-2.968.872-2.71 1.826.57 2.097 1.034 4.267 1.31 6.454-1.115 1.09-6.022 6.09-7.4 4.167-.977-1.362 2.104-4.4 2.737-5.055 1.367-1.417-.979-.686-1.611-.138-1.588 1.375-10.016 9.198-9.33 3.333.032-.28.078-.562.13-.842 4.078-3.576 7.716-7.803 11.143-11.845 1.974-2.329 9.191-9.443 7.917-13.11-1.237-3.562-9.55 4.15-10.252 4.96-4.98 5.753-9.244 13.065-11.292 20.461a38.212 38.212 0 0 1-2.926 2.318c-2.811 1.998-5.65-.268-2.355-3.46.74-.717.345-1.12-.536-.795-.948.35-2.19.6-3.075.282.684-1.362 1.04-2.95-.734-2.998-1.199-.033-1.98.433-2.418 1.106-.605.477-1.079 1.066-1.133 1.537-.063.546.347.786.798.841.104.432.29.837.547 1.169-1.428 2.423-4.676 3.765-7.33 2.869a4.065 4.065 0 0 1-.328-.16c1.34-1.023 2.672-2.193 3.468-3.582 1.453-2.536-1.3-3.465-3.452-2.506-1.536.684-2.8 1.565-3.635 2.867a2.198 2.198 0 0 0-.571.162c-.893.353-3.234 1.272-4.705.948.239-.42.446-.851.617-1.29.419-1.076.442-2.955-1.205-2.56-1.364.326-2.657 1.433-3.204 2.722-.697 1.64-.232 2.464.752 2.81-.916 1.222-3.012 2.59-4.369 1.286-.752-.721-.256-2.284.007-3.101.54-1.675 1.43-3.318 2.388-4.791.893-1.374-1.957.028-2.355.64-1.338 2.057-4.477 6.632-2.748 9.08 1.165 1.65 4.386.217 5.665-.458a11.183 11.183 0 0 0 3.09-2.452c1.95-.046 4.365-.772 5.236-1.117.203-.08.476-.273.742-.507-.033.097-.066.194-.096.294-1.15 3.905 4.725 4.509 7.123 3.935 2.404-.575 4.517-2.409 6.143-4.29.753.147 1.694-.147 2.754-1.174-1.788 1.732-2.735 5.247.39 5.807 1.696.304 3.859-1.33 5.15-2.193.635-.425 1.26-.87 1.874-1.331-.645 4.842 4.645 2.014 8.826-.91-.837 1.425-1.177 2.87.126 3.65 2.295 1.374 6.576-2.176 9.311-4.743a37.37 37.37 0 0 1 .305 3.523c-6.355 4.488-12.696 8.987-18.702 13.951-3.874 3.202-15.769 11.927-13.446 18.343 1.319 3.643 6.394 4.256 9.71 4.112 4.636-.2 8.968-3.082 12.315-6.052 8.41-7.463 13.105-19.621 12.921-30.986a539.796 539.796 0 0 0 5.658-4.016c1.54-1.113.937-2.046-.622-.921M58.48 87.026c-19.713 4.096-39.224-5.33-48.598-23.035-.339-.64-3.118 1.055-2.71 1.827 9.657 18.239 29.698 27.334 49.832 23.15.713-.147 3.077-2.275 1.476-1.942"/>
					</g>
				</svg>
			</a>
			<a href="<?php echo $baseURL ?>/contact.php">
				<svg width="19" height="19" viewBox="0 0 19 19" xmlns="http://www.w3.org/2000/svg">
					<path class="navigation-mobile__phone-path" d="M18.857 14.893c0 .24-.044.556-.134.944a5.32 5.32 0 0 1-.281.917c-.188.447-.732.92-1.634 1.42-.84.455-1.67.683-2.491.683-.241 0-.475-.015-.703-.047a5.789 5.789 0 0 1-.77-.167c-.286-.08-.498-.145-.636-.194a52.74 52.74 0 0 1-.744-.275 28.535 28.535 0 0 0-.656-.241 12.13 12.13 0 0 1-2.344-1.112c-1.143-.705-2.323-1.667-3.542-2.886-1.219-1.218-2.18-2.4-2.886-3.542A12.13 12.13 0 0 1 .924 8.049C.897 7.97.817 7.75.683 7.393a52.74 52.74 0 0 1-.275-.743C.36 6.51.295 6.3.214 6.013a5.789 5.789 0 0 1-.167-.77A5.166 5.166 0 0 1 0 4.54c0-.821.228-1.652.683-2.49.5-.903.973-1.447 1.42-1.635A5.32 5.32 0 0 1 3.02.134 4.42 4.42 0 0 1 3.964 0a.75.75 0 0 1 .282.04c.16.054.397.393.71 1.018.098.17.231.41.401.723s.326.596.469.85c.143.255.281.494.415.717.027.036.105.148.234.335.13.188.226.346.288.475.063.13.094.257.094.382 0 .179-.127.402-.382.67a6.528 6.528 0 0 1-.83.736c-.299.224-.576.46-.83.71-.255.25-.382.456-.382.616 0 .08.022.181.067.302.045.12.083.212.114.274.031.063.094.17.187.322.094.151.145.236.154.254.679 1.223 1.456 2.272 2.33 3.147.876.875 1.925 1.652 3.148 2.33.018.01.103.061.255.155.151.094.258.156.32.187.063.032.155.07.275.114.121.045.221.067.302.067.16 0 .366-.127.616-.382.25-.254.486-.53.71-.83.223-.3.468-.576.736-.83.268-.255.491-.382.67-.382.125 0 .252.031.382.094.13.062.288.158.475.288.188.13.3.207.335.234.223.134.462.272.716.415.255.143.538.3.85.469.313.17.554.304.724.402.625.312.964.549 1.018.71a.75.75 0 0 1 .04.28z"/>
				</svg>
			</a>
		</div>
		<div class="navigation-mobile__menu-wrap">
			<ul class="navigation-mobile__menu">
				<li><a href="http://smstaging.net/overly/" class="navigation-mobile__menu-link">Site Amenities</a></li>
				<li><a href="http://smstaging.net/bryco/" class="navigation-mobile__menu-link">Construction Services</a></li>
				<li><a href="http://smstaging.net/regal-walls/" class="navigation-mobile__menu-link">Walls</a></li>
				<li><a href="http://smstaging.net/overly-pools/" class="navigation-mobile__menu-link">Pools</a></li>
			</ul>
			<ul class="navigation-mobile__menu-small">
				<li><a href="<?php echo $baseURL ?>/privacy.php" class="navigation-mobile__menu-small-link">Privacy Policy</a></li>
				<li><a href="" class="navigation-mobile__menu-small-link">Overly Construction Group</a></li>
			</ul>
			<div class="navigation-mobile__copyright">Developed by <a href="http://simplemedia.co/" target="_blank">Simple Media</a></div>
		</div>
	</div>
</div>
<!-- NAVIGATION MOBILE -->