<!-- NAVIGATION COMPONENT -->
<div class="navigation navigation--light">
	<div class="container">
		<div class="navigation__wrapper">
			<div class="navigation__menu-wrapper">
				<a href="/" class="navigation__logo">
					<svg width="101" height="90" viewBox="0 0 101 90" xmlns="http://www.w3.org/2000/svg"><g class="navigation__logo-svg" fill-rule="evenodd"><path d="M12.475 19.91c16.952-24.184 51.93-23.199 69.503-.458.519.67 3.171-1.228 2.71-1.827C65.324-7.43 27.877-4.782 10.12 20.551c-.934 1.333 1.939-.047 2.354-.64"/><path d="M5.715 57.109c-3.5-2.488-2.959-8.156-2.59-11.838.641-6.39 3.758-12.33 8.462-16.234a14.15 14.15 0 0 0-1.048 3.173c-.11.544 2.591-.594 2.777-1.517.29-1.43.882-2.766 1.684-3.967A19.505 19.505 0 0 1 25.1 24.379c.785.03 3.108-2.001 2.026-2.043a23.233 23.233 0 0 0-9.798 1.748c5.315-4.656 13.857-5.125 14.557 3.913.607 7.838-3.828 16.49-8.36 22.563-3.736 5.004-11.707 10.887-17.811 6.549m16.454-3.154c7.39-6.426 15.973-22.053 11.43-31.943-2.152-4.685-8.888-3.934-12.617-2.026-2.947 1.509-5.705 3.59-7.686 6.218-6.088 3.943-10.558 10.48-12.431 17.7-1.487 5.731-1.751 14.289 5.008 16.488 5.595 1.82 12.402-3.051 16.296-6.437M82.352 74.503c-4.062 5.398-10.012 8.887-16.79 6.94-2.814-.809-4.6-2.69-3.945-5.66.766-3.478 4.186-6.57 6.594-8.945 3.367-3.32 7.11-6.27 10.848-9.157 3.897-3.01 7.915-5.854 11.944-8.682.047 9.127-3.16 18.205-8.651 25.504m9.32-53.837c1.86 2.351-8.717 13.292-10.084 14.827a109.823 109.823 0 0 1-5.623 5.88c.628-1.85 1.509-3.653 2.305-5.345.901-1.915 10.44-19.104 13.402-15.362M54.605 43.52c.156.762-1.093 1.898-2.165 2.735a3.244 3.244 0 0 1-.591-.96c-.6-1.828.32-2.42 2.756-1.775m44.202-1.4a649.153 649.153 0 0 1-4.965 3.542c.086-3.9-.631-7.864-1.648-11.612-.14-.514-2.968.872-2.71 1.826.57 2.097 1.034 4.267 1.31 6.454-1.115 1.09-6.022 6.09-7.4 4.167-.977-1.362 2.104-4.4 2.737-5.055 1.367-1.417-.979-.686-1.611-.138-1.588 1.375-10.016 9.198-9.33 3.333.032-.28.078-.562.13-.842 4.078-3.576 7.716-7.803 11.143-11.845 1.974-2.329 9.191-9.443 7.917-13.11-1.237-3.562-9.55 4.15-10.252 4.96-4.98 5.753-9.244 13.065-11.292 20.461a38.212 38.212 0 0 1-2.926 2.318c-2.811 1.998-5.65-.268-2.355-3.46.74-.717.345-1.12-.536-.795-.948.35-2.19.6-3.075.282.684-1.362 1.04-2.95-.734-2.998-1.199-.033-1.98.433-2.418 1.106-.605.477-1.079 1.066-1.133 1.537-.063.546.347.786.798.841.104.432.29.837.547 1.169-1.428 2.423-4.676 3.765-7.33 2.869a4.065 4.065 0 0 1-.328-.16c1.34-1.023 2.672-2.193 3.468-3.582 1.453-2.536-1.3-3.465-3.452-2.506-1.536.684-2.8 1.565-3.635 2.867a2.198 2.198 0 0 0-.571.162c-.893.353-3.234 1.272-4.705.948.239-.42.446-.851.617-1.29.419-1.076.442-2.955-1.205-2.56-1.364.326-2.657 1.433-3.204 2.722-.697 1.64-.232 2.464.752 2.81-.916 1.222-3.012 2.59-4.369 1.286-.752-.721-.256-2.284.007-3.101.54-1.675 1.43-3.318 2.388-4.791.893-1.374-1.957.028-2.355.64-1.338 2.057-4.477 6.632-2.748 9.08 1.165 1.65 4.386.217 5.665-.458a11.183 11.183 0 0 0 3.09-2.452c1.95-.046 4.365-.772 5.236-1.117.203-.08.476-.273.742-.507-.033.097-.066.194-.096.294-1.15 3.905 4.725 4.509 7.123 3.935 2.404-.575 4.517-2.409 6.143-4.29.753.147 1.694-.147 2.754-1.174-1.788 1.732-2.735 5.247.39 5.807 1.696.304 3.859-1.33 5.15-2.193.635-.425 1.26-.87 1.874-1.331-.645 4.842 4.645 2.014 8.826-.91-.837 1.425-1.177 2.87.126 3.65 2.295 1.374 6.576-2.176 9.311-4.743a37.37 37.37 0 0 1 .305 3.523c-6.355 4.488-12.696 8.987-18.702 13.951-3.874 3.202-15.769 11.927-13.446 18.343 1.319 3.643 6.394 4.256 9.71 4.112 4.636-.2 8.968-3.082 12.315-6.052 8.41-7.463 13.105-19.621 12.921-30.986a539.796 539.796 0 0 0 5.658-4.016c1.54-1.113.937-2.046-.622-.921M58.48 87.026c-19.713 4.096-39.224-5.33-48.598-23.035-.339-.64-3.118 1.055-2.71 1.827 9.657 18.239 29.698 27.334 49.832 23.15.713-.147 3.077-2.275 1.476-1.942"/></g></svg>
				</a>
				<ul class="navigation__menu">
					<li class="navigation__menu-item">
						<a href="http://smstaging.net/overly/" class="navigation__menu-link">Site Amenities</a>
					</li>
					<li class="navigation__menu-item">
						<a href="http://smstaging.net/bryco/" class="navigation__menu-link">Construction Services</a>
					</li>
					<li class="navigation__menu-item">
						<a href="http://smstaging.net/regal-walls/" class="navigation__menu-link">Walls</a>
					</li>
					<li class="navigation__menu-item">
						<a href="http://smstaging.net/overly-pools/" class="navigation__menu-link">Pools</a>
					</li>
				</ul>
			</div>
			<a href="<?php echo $baseURL; ?>/contact.php" class="button button--red">
				<span>Contact Us</span>
			</a>
		</div>
	</div>
</div>
<!-- NAVIGATION COMPONENT -->