/**=======================================================
 * BUTTON COMPONENT
 ========================================================*/
.button {
	appearance: none;
	border: 0;
	color: $brand-color;
	padding: 0 50px;
	height: 54px;
	line-height: 54px;
	margin: 0;
	display: inline-block;
	font-weight: 700;
	position: relative;
	overflow: hidden;
	font-size: 16px;
	cursor: pointer;
	text-align: center;

	&:hover {
		text-decoration: none;
	}

	&:hover::before {
		transform: translateX(0);
	}

	&::before {
		background-color: $brand-color;
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		transform: translateX(-101%);
		transition: transform 0.5s;
	}

	span {
		position: relative;
		display: block;
		z-index: 100;
		transition: color 0.5s;
	}

	// button--white
	&--white {
		background-color: #FFF;
		transition: background-color 0.1s;
		transition-delay: 0s;

		&:hover {
			background-color: $brand-color;
			transition-delay: 0.3s;
		}

		&:hover span {
			color: #FFF;
		}
	}

	// button--red
	&--red {
		color: #FFF;
		background-color: $brand-color;

		&::before {
			background-color: #434343;
		}
	}
	
	// button--transparent 
	&--transparent {
		padding: 15px 0;
		background-color: transparent;
		display: flex;
		align-items: center;
	}

	// button--transparent-white 
	&--transparent-white {
		color: #FFF;
	}

	// button--transparent-red
	&--transparent-red {
		color: #9D2238;
	}

	// button--transparent-brown
	&--transparent-brown {
		color: #6E4925;
	}

	// button--transparent-purple
	&--transparent-purple {
		color: #4D69B0;
	}

	// button--transparent-blue
	&--transparent-blue {
		color: #33CCFF;
	}
	
	// button--icon
	&--icon {
		.icon-wrapper {
			margin-left: 20px;
			overflow: hidden;
		}

		.icon {
			display: block;
			transform: translateX(-14px);
			transition: transform 0.5s;
		}

		&:hover {
			.icon {
				transform: translateX(-4px);
			}
		}
	}

	&--icon::before {
		display: none;
	}
}