/**=======================================================
 * CONTENT 01 COMPONENT
 ========================================================*/
.content-01 {
	// content-01__title
	&__title {
		color: $brand-color;
		font-size: 24px;
		font-family: 'Nunito Sans', sans-serif;
		margin-bottom: 40px;
	}

	// content-01__title--red
	&__title--red {
		color: #9D2238;
	}

	// content-01__title--brown
	&__title--brown {
		color: #6E4925;
	}

	// content-01__title--purple
	&__title--purple {
		color: #4D69B0;
	}

	// content-01__title--blue
	&__title--blue {
		color: #33CCFF;
	}

	// content-01__description
	&__description {
		margin-top: 20px;
		margin-bottom: 20px;
	}
}