/**=======================================================
 * BANNER COMPONENT
 ========================================================*/
.divider {
	height: 5px;
	background-color: #E6E7E8;
	width: 50px;
	
	// divider--small
	&--small {
		width: 30px;
	}
	
	// divider--medium
	&--medium {
		width: 60px;
	}
}