/**=======================================================
 * FOOTER COMPONENT
 ========================================================*/
.footer {
	padding: 30px 0;
	font-size: 14px;

	// footer__copyright
	&__copyright {
		margin-bottom: 20px;
	}

	.simplemedia {
		color: #909090;
		margin-top: 20px;
		display: inline-block;
	}
	
	// footer--dark
	&--dark {
		background-color: #434343;
		color: #FFF;

		a {
			color: #FFF;
		}
	}
}

@media screen and (min-width: 768px) {
	.footer {
		// footer__copyright
		&__copyright {
			margin-bottom: 10px;
		}

		// footer__menu
		&__menu {
			display: flex;
		}

		// footer__menu-item
		&__menu-item {
			margin-right: 20px;
		}

		.simplemedia {
			margin-top: 0;
		}

		// footer--transparent
		&--transparent {
			color: #9B9B9B;
			background-color: transparent;
			position: absolute;
			width: 100%;
			bottom: 0;
			left: 0;

			.footer__menu-link,
			.footer__copyright a {
				color: #9B9B9B;
			}
		}
	}
}

@media screen and (min-width: 992px) {
	.footer {
		// footer__copyright
		&__copyright {
			margin-bottom: 0;
		}

		// footer__wrapper
		&__wrapper {
			display: flex;
			justify-content: space-between;
		}

		// footer__menu-item
		&__menu-item {
			margin-right: 0;
			margin-left: 20px;
		}
	}	
}