/**=======================================================
 * NAVIGATION COMPONENT
 ========================================================*/
 .navigation {
 	display: none;
 	position: absolute;
 	width: 100%;
 	z-index: 1000;

 	// navigation__wrapper
 	&__wrapper {
 		height: 120px;
 		display: flex;
 		justify-content: space-between;
 		align-items: center;
 	}

 	// navigation__menu-wrapper
 	&__menu-wrapper {
 		display: flex;
 		align-items: center;
 	}

	// navigation__logo
	&__logo {
		svg {
 			display: block;
 		}
	}

 	// navigation__logo-svg
 	&__logo-svg {
 		fill: #FFF;
 	}

 	// navigation__menu-phone-svg
 	&__menu-phone-svg {
 		fill: #FFF;
 	}

 	// navigation__menu
 	&__menu {
 		display: flex;
 	}

 	// navigation__menu-link
 	&__menu-link {
 		color: #FFF;
 		text-transform: uppercase;
 		margin-right: 50px;
 		position: relative;
 		overflow: hidden;
 		display: block;
 		height: 30px;
 		line-height: 30px;

 		&:hover {
 			text-decoration: none;
 		}

 		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: #FFF;
			transform: translateX(-101%);
			transition: transform 0.3s;
 		}

 		&:hover::before {
 			transform: translateX(0);
 		}
 	}

 	// navigation__menu-phone
 	&__menu-phone {
 		display: flex;
 		align-items: center;
 		color: #FFF;
 		font-size: 21px;
 		font-weight: 700;

 		&:hover {
 			text-decoration: none;
 		}

 		svg {
 			margin-right: 16px;
 		}
 	}

 	// navigation--light
 	&--light {
 		background-color: #FFF;

 		.navigation__menu-phone {
 			color: $brand-color;
 		}

 		.navigation__logo-svg,
 		.navigation__menu-phone-svg {
 			fill: $brand-color;
 		}

 		.navigation__menu-link {
 			color: $brand-color;
 		}

 		.navigation__menu-link::before {
 			background-color: $brand-color;
 		}
 	}
 }

 @media screen and (min-width: 1200px) {
 	.navigation {
 		display: block;

 		// navigation__logo
 		&__logo {
 			margin-right: 60px;
 		}

	 	&__menu-link {
	 		color: #FFF;
	 		text-transform: uppercase;
	 		margin-right: 70px;
	 	}
 	}
 }