<?php include_once('includes/header.php'); ?>
<?php include_once('components/navigation-mobile.php'); ?>
<?php include_once('components/navigation-desktop.php'); ?>

<div class="not-found">
	<div class="container not-found__wrapper">
		<svg class="not-found__svg" viewBox="0 0 472 200" xmlns="http://www.w3.org/2000/svg"><g fill="#14504D" fill-rule="evenodd"><path d="M106.7 98.815v36.669l.712 1.19h-94.79v-.476l10.714-11.428 20.257-25.955H30.95L0 138.103v9.048l107.412-.238-.712 1.43v46.908h10.714v-46.907l-.716-1.431 25.714.238v-10.476h-25.714l.716-1.191V98.815zM119.558 2.381L43.593 98.814h12.64l51.658-66.193 9.998-13.811h.478l-.952 20.478v59.526h10.714V2.381zM246.46 0c-43.524 0-70.353 38.781-70.705 98.814h11.19c.27-45.06 15.85-88.576 59.753-88.576 45.542 0 59.271 44.667 59.516 88.576h11.184C317.055 38.548 290.928 0 246.46 0M295.511 100.007c0 47.38-15.002 87.386-59.767 87.386-45.243 0-59.528-41.908-59.528-87.386 0-.398.01-.795.014-1.193h-11.19c-.003.4-.017.79-.017 1.193 0 60.717 25.243 97.624 70.721 97.624 45.955 0 70.955-36.907 70.955-97.624 0-.402-.014-.793-.017-1.193H295.5c.002.398.012.795.012 1.193M444.79 135.484V98.815h-10.714v36.669l.712 1.19h-94.79v-.476l10.713-11.428 20.258-25.955h-12.64l-30.95 39.288v9.048l107.409-.236-.712 1.426v46.91h10.714v-46.91l-.717-1.426 25.717.236v-10.476h-25.717zM435.266 32.622l9.998-13.812h.478l-.952 20.479v59.526h10.714V2.38h-8.571l-75.964 96.434h12.642z"/></g></svg>
		<h3 class="not-found__title">Oooops! Page not found!</h3>
		<a href="<?php echo $baseURL; ?>" class="button button--red">
			<span>Back Home</span>
		</a>
	</div>
</div>

<?php include_once('components/footer-03.php'); ?>
<?php include_once('includes/footer.php'); ?>