{{> header }}
{{> navigation_desktop }}
{{> navigation_mobile }}
{{> banner1 }}

<!-- CONTACT -->
<div class="contact">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<!-- CONTACT FORM -->
				<div class="contact-form">
					<div class="contact-form__wrapper">
						<h3 class="contact-form__title">Contact OCG</h3>
						<div class="divider"></div>
						<div class="contact-form__content">Whether you’re local—or thinking of being local—we’re happy to discuss your design/build requirements. Give us a call or fill out the contact form, and let’s get the conversation started.</div>
					</div>

					<form>
						<div class="contact-form__field">
							<label for="fullname">Full Name <span>*</span></label>
							<input type="text" id="fullname" name="fullname">
						</div>
						<div class="contact-form__field">
							<label for="email">Email <span>*</span></label>
							<input type="email" id="email" name="email">
						</div>
						<div class="contact-form__field">
							<label for="subject">Subject <span>*</span></label>
							<input type="email" id="subject" name="subject">
						</div>
						<div class="contact-form__field">
							<label for="message">Message <span>*</span></label>
							<textarea name="message" id="message"></textarea>
						</div>
						<div class="contact-form__field">
							<div class="error"><span>*</span> All fields need to fill</div>
						</div>
						<div class="contact-form__field submit">
							<button type="submit" class="button button--red">
								<span>Send</span>
							</button>
						</div>
					</form>
				</div>
				<!-- CONTACT FORM -->
			</div>
		</div>
	</div>
</div>
<!-- CONTACT -->

{{> sub-footer-01 }}
{{> footer-01 }}
{{> footer }}
