/**=======================================================
 * CONTACT
 ========================================================*/
.contact {
	background-color: #F1F1F2;
	padding: 140px 0 60px;
}

@media screen and (min-width: 768px) {
	.contact {
		padding: 180px 0 90px;
	}
}

@media screen and (min-width: 992px) {
	.contact {
		padding: 210px 0 90px;
	}
}