/**=======================================================
 * HOME
 ========================================================*/
.home {
	// home__box-logo
	&__box-logo {
		position: relative;
		z-index: 100;
		width: 120px;
		display: block;
	}

	// home__content
	&__content {
		padding: 60px 20px;

		.button {
			max-width: 180px;
		}
	}

	// home__box
	&__box {
		height: 300px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		position: relative;

		&::before {
			background-color: #9D2238;
			content: "";
			display: block;
			opacity: 0.8;
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
			z-index: 10;
		}
	}

	// home_box--red
	&__box--red {
		background-image: url(../images/site_amenities.jpg);

		&::before {
			background-color: #9D2238;
		}
	}

	// home_box--brown
	&__box--brown {
		background-image: url(../images/bryco.jpg);
		
		&::before {
			background-color: #6C4116;
		}
	}

	// home_box--purple
	&__box--purple {
		background-image: url(../images/regal_walls.jpg);
		
		&::before {
			background-color: #2F4D99;
		}
	}

	// home_box--blue
	&__box--blue {
		background-image: url(../images/overly_pools.jpg);
		
		&::before {
			background-color: #33CCFF;
		}
	}
}

@media screen and (min-width: 768px) {
	.home {
		// home__box-logo
		&__box-logo {
			width: 190px;
		}

		// home__company
		&__company {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
		}

		// home__company.reverse
		&__company.reverse {
			.home__box {
				order: 2;
			}

			.home__content {
				order: 1;
			}
		}

		// home__box
		&__box {
			height: 600px;
		}

		// home__box
		&__box {
			width: 50%;
		}

		// home__content
		&__content {
			width: 50%;
			padding-left: 60px;
			padding-right: 60px;
		}
	}
}

@media screen and (min-width: 992px) {
	.home {
		// home__content
		&__content {
			padding-left: 90px;
			padding-right: 90px;
		}
	}
}

@media screen and (min-width: 1200px) {
	.home {
		// home__content
		&__content {
			padding-left: 100px;
			padding-right: 100px;
		}
	}
}