/**=======================================================
 * THANK YOU PAGE
 ========================================================*/
 .thank-you {
 	background-image: url(../images/404.jpg);
 	background-repeat: no-repeat;
 	background-position: center;
 	background-size: cover;
 	text-align: center;
 	padding: 140px 0 90px;

 	// thank-you__svg
 	&__svg {
 		max-width: 460px;
 	}

 	// thank-you__title
 	&__title {
 		color: #FFF;
 		font-size: 24px;
 		font-family: 'Nunito Sans', sans-serif;
 		margin: 60px auto;
 		max-width: 960px;
 	}
 }

 @media screen and (min-width: 768px) {
 	.thank-you {
		height: 100vh;

		// thank-you__wrapper
	 	&__wrapper {
	 		top: 50%;
	 		position: relative;
	 		transform: translateY(-50%);
	 	}
 	}
 }

 @media screen and (min-width: 992px) {
 	.thank-you {
		// thank-you__svg
	 	&__svg {
	 		max-width: 320px;
	 	}
 	}
 }

 @media screen and (min-width: 1400px) {
 	.thank-you {
		// thank-you__svg
	 	&__svg {
	 		max-width: 460px;
	 	}
 	}
 }