// =============================================================================================
// RESET
// =============================================================================================
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1.5;
	font-family: sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	max-width: 100%;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

a,
a:active,
a:visited,
a:focus {
	text-decoration: none;
}

p {
	margin: 20px 0;
}

a {
	color: #434343;
}

a:hover {
	text-decoration: underline;
}

a:active,
a:visited,
a:focus {
	text-decoration: none;
}
// =============================================================================================
// END OF RESET
// =============================================================================================

// =============================================================================================
// FONTS
// =============================================================================================
body {
	color: #434343;
	font-family: 'Montserrat', sans-serif;
}
// =============================================================================================
// END OF FONTS
// =============================================================================================

// =============================================================================================
// COLORS
// =============================================================================================
$brand-color: #14504D;
$brand-color-light: #207A76;
$brand-color-trans-01: rgba(20, 80, 77, 0.8);
// =============================================================================================
// END OF COLORS
// =============================================================================================

// =============================================================================================
// GRID
// =============================================================================================
.container {
	max-width: 1160px;
	width: 100%;
	padding: 0 20px;
	margin: 0 auto;
}

.row {
	margin-left: -20px;
	margin-right: -20px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-offset-0,
.col-xs-offset-1,
.col-xs-offset-2,
.col-xs-offset-3,
.col-xs-offset-4,
.col-xs-offset-5,
.col-xs-offset-6,
.col-xs-offset-7,
.col-xs-offset-8,
.col-xs-offset-9,
.col-xs-offset-10,
.col-xs-offset-11,
.col-xs-offset-12 {
	padding-right: 20px;
	padding-left: 20px;
}

.col-xs-1 {
	width: 8.33333333333333%;
	max-width: 8.33333333333333%;
}

.col-xs-2 {
	width: 16.66666666666666%;
	max-width: 16.66666666666666%;
}

.col-xs-3 {
	width: 25%;
	max-width: 25%;
}

.col-xs-4 {
	width: 33.3333333333333%;
	max-width: 33.3333333333333%;
}

.col-xs-5 {
	width: 41.66666666666665%;
	max-width: 41.66666666666665%;
}

.col-xs-6 {
	width: 50%;
	max-width: 50%;
}

.col-xs-7 {
	width: 58.3333333333333%;
	max-width: 58.3333333333333%;
}

.col-xs-8 {
	width: 66.6666666666666%;
	max-width: 66.6666666666666%;
}

.col-xs-9 {
	width: 74.9999999999999%;
	max-width: 74.99999999999997%;
}

.col-xs-10 {
	width: 83.3333333333333%;
	max-width: 83.3333333333333%;
}

.col-xs-11 {
	width: 91.6666666666666%;
	max-width: 91.6666666666666%;
}

.col-xs-12 {
	width: 100%;
	max-width: 100%;
}

.col-xs-offset-0 {
	margin-left: 0;
}

.col-xs-offset-1 {
	margin-left: 8.33333333333333%;
}

.col-xs-offset-2 {
	margin-left: 16.66666666666666%;
}

.col-xs-offset-3 {
	margin-left: 25%;
}

.col-xs-offset-4 {
	margin-left: 33.3333333333333%;
}

.col-xs-offset-5 {
	margin-left: 41.66666666666665%;
}

.col-xs-offset-6 {
	margin-left: 50%;
}

.col-xs-offset-7 {
	margin-left: 58.3333333333333%;
}

.col-xs-offset-8 {
	margin-left: 66.6666666666666%;
}

.col-xs-offset-9 {
	margin-left: 74.9999999999999%;
}

.col-xs-offset-10 {
	margin-left: 83.3333333333333%;
}

.col-xs-offset-11 {
	margin-left: 91.6666666666666%;
}

.col-xs-offset-12 {
	margin-left: 100%;
}

@media (min-width: 768px) {
	.col-sm-1,
	.col-sm-2,
	.col-sm-3,
	.col-sm-4,
	.col-sm-5,
	.col-sm-6,
	.col-sm-7,
	.col-sm-8,
	.col-sm-9,
	.col-sm-10,
	.col-sm-11,
	.col-sm-12,
	.col-sm-offset-0,
	.col-sm-offset-1,
	.col-sm-offset-2,
	.col-sm-offset-3,
	.col-sm-offset-4,
	.col-sm-offset-5,
	.col-sm-offset-6,
	.col-sm-offset-7,
	.col-sm-offset-8,
	.col-sm-offset-9,
	.col-sm-offset-10,
	.col-sm-offset-11,
	.col-sm-offset-12 {
		padding-right: 20px;
		padding-left: 20px;
	}

	.col-sm-1 {
		width: 8.33333333333333%;
		max-width: 8.33333333333333%;
	}

	.col-sm-2 {
		width: 16.66666666666666%;
		max-width: 16.66666666666666%;
	}

	.col-sm-3 {
		width: 25%;
		max-width: 25%;
	}

	.col-sm-4 {
		width: 33.3333333333333%;
		max-width: 33.3333333333333%;
	}

	.col-sm-5 {
		width: 41.66666666666665%;
		max-width: 41.66666666666665%;
	}

	.col-sm-6 {
		width: 50%;
		max-width: 50%;
	}

	.col-sm-7 {
		width: 58.3333333333333%;
		max-width: 58.3333333333333%;
	}

	.col-sm-8 {
		width: 66.6666666666666%;
		max-width: 66.6666666666666%;
	}

	.col-sm-9 {
		width: 74.9999999999999%;
		max-width: 74.99999999999997%;
	}

	.col-sm-10 {
		width: 83.3333333333333%;
		max-width: 83.3333333333333%;
	}

	.col-sm-11 {
		width: 91.6666666666666%;
		max-width: 91.6666666666666%;
	}

	.col-sm-12 {
		width: 100%;
		max-width: 100%;
	}

	.col-sm-offset-0 {
		margin-left: 0;
	}

	.col-sm-offset-1 {
		margin-left: 8.33333333333333%;
	}

	.col-sm-offset-2 {
		margin-left: 16.66666666666666%;
	}

	.col-sm-offset-3 {
		margin-left: 25%;
	}

	.col-sm-offset-4 {
		margin-left: 33.3333333333333%;
	}

	.col-sm-offset-5 {
		margin-left: 41.66666666666665%;
	}

	.col-sm-offset-6 {
		margin-left: 50%;
	}

	.col-sm-offset-7 {
		margin-left: 58.3333333333333%;
	}

	.col-sm-offset-8 {
		margin-left: 66.6666666666666%;
	}

	.col-sm-offset-9 {
		margin-left: 74.9999999999999%;
	}

	.col-sm-offset-10 {
		margin-left: 83.3333333333333%;
	}

	.col-sm-offset-11 {
		margin-left: 91.6666666666666%;
	}

	.col-sm-offset-12 {
		margin-left: 100%;
	}
}

@media (min-width: 992px) {
	.col-md-1,
	.col-md-2,
	.col-md-3,
	.col-md-4,
	.col-md-5,
	.col-md-6,
	.col-md-7,
	.col-md-8,
	.col-md-9,
	.col-md-10,
	.col-md-11,
	.col-md-12,
	.col-md-offset-0,
	.col-md-offset-1,
	.col-md-offset-2,
	.col-md-offset-3,
	.col-md-offset-4,
	.col-md-offset-5,
	.col-md-offset-6,
	.col-md-offset-7,
	.col-md-offset-8,
	.col-md-offset-9,
	.col-md-offset-10,
	.col-md-offset-11,
	.col-md-offset-12 {
		padding-right: 20px;
		padding-left: 20px;
	}

	.col-md-1 {
		width: 8.33333333333333%;
		max-width: 8.33333333333333%;
	}

	.col-md-2 {
		width: 16.66666666666666%;
		max-width: 16.66666666666666%;
	}

	.col-md-3 {
		width: 25%;
		max-width: 25%;
	}

	.col-md-4 {
		width: 33.3333333333333%;
		max-width: 33.3333333333333%;
	}

	.col-md-5 {
		width: 41.66666666666665%;
		max-width: 41.66666666666665%;
	}

	.col-md-6 {
		width: 50%;
		max-width: 50%;
	}

	.col-md-7 {
		width: 58.3333333333333%;
		max-width: 58.3333333333333%;
	}

	.col-md-8 {
		width: 66.6666666666666%;
		max-width: 66.6666666666666%;
	}

	.col-md-9 {
		width: 74.9999999999999%;
		max-width: 74.99999999999997%;
	}

	.col-md-10 {
		width: 83.3333333333333%;
		max-width: 83.3333333333333%;
	}

	.col-md-11 {
		width: 91.6666666666666%;
		max-width: 91.6666666666666%;
	}

	.col-md-12 {
		width: 100%;
		max-width: 100%;
	}

	.col-md-offset-0 {
		margin-left: 0;
	}

	.col-md-offset-1 {
		margin-left: 8.33333333333333%;
	}

	.col-md-offset-2 {
		margin-left: 16.66666666666666%;
	}

	.col-md-offset-3 {
		margin-left: 25%;
	}

	.col-md-offset-4 {
		margin-left: 33.3333333333333%;
	}

	.col-md-offset-5 {
		margin-left: 41.66666666666665%;
	}

	.col-md-offset-6 {
		margin-left: 50%;
	}

	.col-md-offset-7 {
		margin-left: 58.3333333333333%;
	}

	.col-md-offset-8 {
		margin-left: 66.6666666666666%;
	}

	.col-md-offset-9 {
		margin-left: 74.9999999999999%;
	}

	.col-md-offset-10 {
		margin-left: 83.3333333333333%;
	}

	.col-md-offset-11 {
		margin-left: 91.6666666666666%;
	}

	.col-md-offset-12 {
		margin-left: 100%;
	}
}

@media (min-width: 1200px) {
	.col-lg-1,
	.col-lg-2,
	.col-lg-3,
	.col-lg-4,
	.col-lg-5,
	.col-lg-6,
	.col-lg-7,
	.col-lg-8,
	.col-lg-9,
	.col-lg-10,
	.col-lg-11,
	.col-lg-12,
	.col-lg-offset-0,
	.col-lg-offset-1,
	.col-lg-offset-2,
	.col-lg-offset-3,
	.col-lg-offset-4,
	.col-lg-offset-5,
	.col-lg-offset-6,
	.col-lg-offset-7,
	.col-lg-offset-8,
	.col-lg-offset-9,
	.col-lg-offset-10,
	.col-lg-offset-11,
	.col-lg-offset-12 {
		padding-right: 20px;
		padding-left: 20px;
	}

	.col-lg-1 {
		width: 8.33333333333333%;
		max-width: 8.33333333333333%;
	}

	.col-lg-2 {
		width: 16.66666666666666%;
		max-width: 16.66666666666666%;
	}

	.col-lg-3 {
		width: 25%;
		max-width: 25%;
	}

	.col-lg-4 {
		width: 33.3333333333333%;
		max-width: 33.3333333333333%;
	}

	.col-lg-5 {
		width: 41.66666666666665%;
		max-width: 41.66666666666665%;
	}

	.col-lg-6 {
		width: 50%;
		max-width: 50%;
	}

	.col-lg-7 {
		width: 58.3333333333333%;
		max-width: 58.3333333333333%;
	}

	.col-lg-8 {
		width: 66.6666666666666%;
		max-width: 66.6666666666666%;
	}

	.col-lg-9 {
		width: 74.9999999999999%;
		max-width: 74.99999999999997%;
	}

	.col-lg-10 {
		width: 83.3333333333333%;
		max-width: 83.3333333333333%;
	}

	.col-lg-11 {
		width: 91.6666666666666%;
		max-width: 91.6666666666666%;
	}

	.col-lg-12 {
		width: 100%;
		max-width: 100%;
	}

	.col-lg-offset-0 {
		margin-left: 0;
	}

	.col-lg-offset-1 {
		margin-left: 8.33333333333333%;
	}

	.col-lg-offset-2 {
		margin-left: 16.66666666666666%;
	}

	.col-lg-offset-3 {
		margin-left: 25%;
	}

	.col-lg-offset-4 {
		margin-left: 33.3333333333333%;
	}

	.col-lg-offset-5 {
		margin-left: 41.66666666666665%;
	}

	.col-lg-offset-6 {
		margin-left: 50%;
	}

	.col-lg-offset-7 {
		margin-left: 58.3333333333333%;
	}

	.col-lg-offset-8 {
		margin-left: 66.6666666666666%;
	}

	.col-lg-offset-9 {
		margin-left: 74.9999999999999%;
	}

	.col-lg-offset-10 {
		margin-left: 83.3333333333333%;
	}

	.col-lg-offset-11 {
		margin-left: 91.6666666666666%;
	}

	.col-lg-offset-12 {
		margin-left: 100%;
	}
}
// =============================================================================================
// END OF GRID
// =============================================================================================

// =============================================================================================
// ANIMATIONS
// =============================================================================================

// =============================================================================================
// END OF ANIMATIONS
// =============================================================================================

// =============================================================================================
// HELPERS
// =============================================================================================
.flex-end {
	justify-content: flex-end;
}
// =============================================================================================
// END OF HELPERS
// =============================================================================================